<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tbody>
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getSurname()}"></td>

    </tbody>
</table>

<h2>Delete</h2>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>


<br>

<h2>Return to users</h2>
<a href="/users">return</a>

</body>
</html>